/* media query vars */

$tablet: '(max-width:800px)';
$phone: '(max-width:350px)';

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin: 0 auto;
	max-width: 600px;
	padding: 1em;
	width: 60%;

	@media #{$tablet} {
		width: 80%;
		border: none;
	}

	@media #{$phone} {
		width: 95%;
		padding: 0;
	}
}
aside.thiel-player {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 1em 0;
	overflow: hidden;

	@media #{$tablet} {
		max-width: 400px;
	}

	img {
		width: 30%;
		float: left;
		margin-right: 2em;

		@media #{$tablet} {
			display: none;
		}
	}
	h4 {
		margin-top: 0;

		@media (max-width: 650px) {
			margin-top: 1em;
		}
	}

	.toggle-container {
		overflow: hidden;
		margin-right: 0;
		position: relative;
		//padding-top: 1.2em;

		.thiel-audio-toggle {
			height: 3em;
			width: 3em;
			background-size: contain;
			background-position: center;
			float: left;
			cursor: pointer;

			&:hover {
				background-color: white;
			}
			&.play {
				background-image: url('http://s3.amazonaws.com/chronicle-studio/thiel/dist/img/icons/thiel-play.png');
			}
			&.pause {
				background-image: url('http://s3.amazonaws.com/chronicle-studio/thiel/dist/img/icons/thiel-pause.png');
			}
		}

		.time-container{
			margin-top: -3%;
			position: absolute;
			left: 3em;
			top: 50%;
			
			@media #{$tablet} {
				margin-top: -2%;
			}

			@media #{$phone} {
				margin-top: -3.5%;
			}

			&.timePlay {
					opacity: 1;
			}

			p {
				margin: 0;
			}
			
		}
	}

}