/* media query vars */
$tablet: '(max-width:800px)';
$phone: '(max-width:350px)';

body {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 auto;
	max-width: 600px;
	padding: 1em;
	width: 60%;

	@media #{$tablet} {
		border: none;
		width: 80%;
	}

	@media #{$phone} {
		padding: 0;
		width: 95%;
	}
}